body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1 {
    font-size: 1.5em;
}
#messages {
    margin: 1em 0;
}
.avatar {
    width: 25px;
    vertical-align: top;
}
.avatar img {
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-right: 0.5em;
}
.chat-message {
    vertical-align: middle;
}
.chat-message .name {
    font-weight: bold;
}
.meta {
    vertical-align: top;
    color: #888;
    font-size: 0.8em;
}
.message .avatar {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
}
.message .chat-message {
    line-height: 15px;
    min-height: 30px;
    margin: 0 5px 5px 0;
    padding: 0;
}
.message .meta {
    display: none;
    height: 25px;
    margin: 0 5px 5px 30px;
    padding: 0;
}
#channels {
    display: none;
    margin: 0;
    padding: 5px;
    z-index: 100;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    background: #fff;
    width: 250px;
    border: 1px solid #999;

    -webkit-box-shadow: 5px 5px 5px #aaa;
}
#channels a {
    display: block;
    font-size: 1.5em;
    padding: 0.25em;
    line-height: 2em;
}
#channels a:hover {
    background: #aaa;
}
form#irc {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 40px;
    line-height: 40px;
    background: #eee;
    padding: 0 0 0 1em;
    -webkit-box-shadow: 0px 0px 5px #555;
}
#channel {
    width: 6em;
}
.channel {
    padding: 0;
    margin: 0 0 1em 0;
    display: block;
    overflow-y: scroll;
    height: 300px;
    border-bottom: 2px dotted #555;
}
#channels-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
