body {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 320px;
    height: 356px;
    overflow: hidden;

    -webkit-text-size-adjust: none;
}

h1 {
    font-size: 1.5em;
}
#messages {
    margin: 1em 0;
}

.chat-message {
    vertical-align: middle;
    min-height: 30px;
    margin: 0 5px 5px 0;
    padding: 0 0 0 30px;
}

.chat-message .name {
    font-weight: bold;
}

#channels {
    display: none;
    margin: 0;
    padding: 5px;
    z-index: 100;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    background: #fff;
    width: 290px;
    border: 1px solid #999;

    -webkit-box-shadow: 5px 5px 5px #aaa;
}
#channels a {
    display: block;
    font-size: 1.414em;
    padding: 0.25em;
}
#channels a:hover {
    background: #aaa;
}

#irc {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 40px;
    line-height: 40px;

    background: #ccc;

    padding: 0 0 0 10px;
    margin: 0;
    width: 98%;

    /* -webkit-box-shadow: 0px -5px 10px #555; */
}

#irc input[name=channel] {
    width: 50px;
}

#irc input[name=text] {
    width: 150px;
}

#irc input[type=submit] {
    width: 50px;
}

.channel {
    display: none;
    padding: 0;
    margin: 0;
}

#channels-wrapper {
    position: absolute;
    z-index: 5;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body.landscape {
    width: 480px;
    height: 216px;
}
body.landscape #channels-wrapper {
    height: 166px;
}

body.landscape #irc input[name=text] {
    width: 300px;
}

body.full-screen {
    height: 460px;
}
body.full-screen #channels-wrapper {
    height: 404px;
}

body.full-screen.landscape {
    height: 300px;
}
body.full-screen.landscape #channels-wrapper {
    height: 250px;
}
