body > * { overflow: hidden; }

form {
    vertical-align: center;
    height: 3em;
    line-height: 3em;
    background: #eee;
    padding: 0;
    margin: 0;
}

input[name=text] {
    width: 75%;
    height: 2em;
    margin: 0 0.5em;
    padding: 0 0.5em;
}

.messages img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    max-height: 250px;
}

.messages .line:nth-child(50) ~ * {
    display: none;
}

#dashboard .messages .line {
    width: 95%;
    margin: 2px auto;
    padding-right: 36px;
    padding-bottom: 16px;
}

#dashboard .messages .line[source=twitter] {
    background: #fff url(/static/twitter_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=plurk] {
    background: #fff url(/static/plurk_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=irc] {
    background: #fff url(/static/irc.png) 2px right no-repeat;
}
