@import "jqtouch.css";
@import "themes/apple/theme.css";
@import "themes/vicutake/vicutake.css";

body > * { 
    overflow: hidden;
    display: none;
}

.in, .out {
    -webkit-animation-duration: 250ms;
}

form {
    vertical-align: center;
    height: 3em;
    background: #eee;
}

input[name=text] {
    font-size: 100%;
    min-width: 250px;
    margin: 5px;
    padding: 5px;
}

input.submit {
    display: block;
    float: right;
    margin: 10px 10px 10px 0;
}

.messages img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    max-height: 250px;
}

.messages .line:nth-child(50) ~ * {
    display: none;
}

.line[type="irc_join"] .sender {
    display: none;
}

#dashboard .messages .line {
    width: 95%;
    margin: 2px auto;
    padding-right: 36px;
    padding-bottom: 16px;
}

#dashboard .messages .line[source=twitter] {
    background: #fff url(/static/twitter_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=plurk] {
    background: #fff url(/static/plurk_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=irc] {
    background: #fff url(/static/irc.png) 2px right no-repeat;
}

.line .response_count {
    margin: 0 10px 0 0;
    padding: 2px ;
    color: #fff;
    background: #000;
}

.line .channel {
    background: #000;
    color: #fff;
    margin: 0 10px 0 0;
    padding: 0 5px;
}

li .messages {
    font-size: 11pt;
    font-weight: normal;
}
#rtorrent .message{
    display:block;
}
#rtorrent .rate,#rtorrent .cmd{
    margin-left:10px;
}


#message-sources {
    margin: 10px;
    padding: 0;
    background: transparent;
    border: none;
    height: auto;
}
#message-sources:after {
    content: ".";
    height: 8px;
    display: block;
    clear: both;
    visibility: hidden;
}

#message-sources li {
    border: none;
    display: block;
    height: 40px;
    text-align: center;
    float: left;
    -webkit-border-radius: 0;
    padding: 0;
    margin: 0;
    background: none;
}

#message-sources li a {
    background: #fff;
    display: block;
    float: left;
    width: 60px;
    height: 40px;
    line-height: 40px;
    border: none;
    margin: 4px;
    padding: 0;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px #000;
}
