body > * { overflow: hidden; }

form {
    vertical-align: center;
    height: 3em;
    background: #eee;
}

input[name=text] {
    font-size: 100%;
    min-width: 250px;
    margin: 5px;
    padding: 5px;
}

input.submit {
    display: block;
    float: right;
    margin: 10px 10px 10px 0;
}

.messages img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    max-height: 250px;
}

.messages .line:nth-child(50) ~ * {
    display: none;
}

#dashboard .messages .line {
    width: 95%;
    margin: 2px auto;
    padding-right: 36px;
    padding-bottom: 16px;
}

#dashboard .messages .line[source=twitter] {
    background: #fff url(/static/twitter_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=plurk] {
    background: #fff url(/static/plurk_24.png) 2px right no-repeat;
}

#dashboard .messages .line[source=irc] {
    background: #fff url(/static/irc.png) 2px right no-repeat;
}
