% my $application = $_[0]->{application};
% my $channels = $_[0]->{channels};
% my $nick = $_[0]->{nick};
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/jquery.oembed.js"></script>
        <script type="text/javascript" src="/static/jquery.ev.js"></script>
        <script type="text/javascript" src="/static/social.js"></script>

        <title>Social</title>
        <style type="text/css" media="screen">
          @import url(/static/jqtouch.min.css);
          @import url(/static/themes/apple/theme.min.css);
          @import url(/static/themes/vicutake/vicutake.css);
          @import url(/static/social.css);
        </style>
    </head>
    <body>
        <div id="dashboard" class="">
            <div class="toolbar">
                <h1>Dashboard</h1>
            </div>
            <ul>
                <% if ($application->has_twitter_client) { %>
                <li><a href="#twitter-statuses-friends" class="">Twitter</a></li>
                <% } %>
                <% if ($application->has_plurk_client) { %>
                <li><a href="#plurk" class="">Plurk</a></li>
                <% } %>
                <% if ($application->has_irc_clients) { %>
                <li><a href="#irc-channels" class="">IRC</a></li>
                <% } %>
            </ul>
        </div>

        <div id="twitter-statuses-friends" class="">
            <div class="toolbar">
                <h1>Twitter</h1>
                <a href="#dashboard" class="button back">Dashboard</a>
                <a href="#twitter-statuses-mentions" class=" button blueButton">@<%= $nick %></a>
            </div>

            <form action="/twitter" method="post">
                <div>
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all tweets</a>
            </div>
        </div>

        <div id="twitter-statuses-mentions" class="">
            <div class="toolbar">
                <h1>@<%= $nick %></h1>
                <a href="#twitter-statuses-friends" class="button back leftButton">Twitter</a>
            </div>
            <div class="messages"></div>
        </div>

        <div id="plurk">
            <div class="toolbar">
                <h1>Plurk</h1>
                <a href="#dashboard" class="button back leftButton">Dashboard</a>
            </div>
            <form action="/plurk" method="post">
                <div>
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all plurks</a>
            </div>
        </div>

        <div id="irc-channels" class="">
            <div class="toolbar">
                <h1>Channels</h1>
                <a href="#dashboard" class="button back leftButton">Dashboard</a>
            </div>
            <ul>
                <% for my $name (map { my $o = $_; my $e = lc($_); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o]; } @$channels) { %>
                <li><a href="#channel-<%= $name->[0] %>" class=""><%= $name->[1] %></a></li>
                <% } %>
            </ul>
        </div>

        <% for my $name (map { my $o = $_; my $e = lc($_); my ($network, $channel) = split(" ", $e); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o, $network, $channel]; } @$channels) { %>
        <div id="channel-<%= $name->[0] %>" class="channel ">
            <div class="toolbar">
                <h1><%= $name->[3] %></h1>
                <a href="#irc-channels" class="button back leftButton">Channels</a>
            </div>
            <form action="/irc" method="post">
                <div>
                    <input type="hidden" name="name"    value="<%= $nick %>" />
                    <input type="hidden" name="channel" value="<%= $name->[1] %>" />
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all messages</a>
            </div>
        </div>
        <% } %>
    </body>
</html>
