% my $application = $_[0]->{application};
% my $channels = $_[0]->{channels};
% my $nick = $_[0]->{nick};
<!doctype html>
<html manifest="/static/social.manifest">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>Social</title>
        <link rel="stylesheet" href="/static/social.css" type="text/css" media="screen" />


% if ( ($ENV{SOCIAL_ENV}||="development") eq "production") {
        <script type="text/javascript" src="/static/all.js"></script>
% } else {
        <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery.oembed.js"></script>
        <script type="text/javascript" src="/static/jquery.ev.js"></script>
        <script type="text/javascript" src="/static/social.js"></script>
% }
    </head>
    <body>
        <div id="dashboard" class="current">
            <div class="toolbar">
                <h1>Dashboard</h1>
            </div>
            <ul>
                <% if ($application->has_twitter_client) { %>
                <li><a href="#twitter-statuses-friends">Twitter</a></li>
                <% } %>
                <% if ($application->has_plurk_client) { %>
                <li><a href="#plurk">Plurk</a></li>
                <% } %>
                <% if ($application->has_irc_clients) { %>
                <li><a href="#irc-channels">IRC</a></li>
                <% } %>
                <% if ($application->has_rtorrent_client) { %>
                <li><a href="#rtorrent">rTorrent</a></li>
                <% } %>
            </ul>
            <div class="messages"></div>
        </div>

        <div id="twitter-statuses-friends">
            <div class="toolbar">
                <h1>Twitter</h1>
                <a href="#dashboard" class="button back">Dashboard</a>
                <a href="#twitter-statuses-mentions" class=" button blueButton" effect="swap">@<%= $nick %></a>
            </div>

            <form action="/twitter" method="post">
                <div>
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all tweets</a>
            </div>
        </div>

        <div id="twitter-statuses-mentions">
            <div class="toolbar">
                <h1>@<%= $nick %></h1>
                <a href="#dashboard" class="button back">Dashboard</a>
                <a href="#twitter-statuses-friends" class=" button blueButton" effect="swap">Friends</a>
            </div>
            <div class="messages"></div>
        </div>

        <div id="plurk">
            <div class="toolbar">
                <h1>Plurk</h1>
                <a href="#dashboard" class="button back leftButton">Dashboard</a>
            </div>
            <form action="/plurk" method="post">
                <div>
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all plurks</a>
            </div>
        </div>
      <div id="rtorrent">
            <div class="toolbar">
                <h1>rTorrent</h1>
                <a href="#dashboard" class="button back leftButton">Dashboard</a>
            </div>
            <form action="/rtorrent" method="post">
                <div>
                    <input type="text" name="text"><!-- mininova_id-->
                    <input type="hidden" name="cmd"   value="load_start" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <!--  <a href="#" class="button toggle-all-messages">Show all torrent</a> -->
            </div>
        </div>

        <div id="irc-channels">
            <div class="toolbar">
                <h1>Channels</h1>
                <a href="#dashboard" class="button back leftButton">Dashboard</a>
            </div>
            <ul>
                <% for my $name (map { my $o = $_; my $e = lc($_); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o]; } @$channels) { %>
                <li>
                    <a href="#channel-<%= $name->[0] %>"><%= $name->[1] %></a>
                    <div class="messages"></div>
                </li>
                <% } %>
            </ul>
        </div>

        <% for my $name (map { my $o = $_; my $e = lc($_); my ($network, $channel) = split(" ", $e); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o, $network, $channel]; } @$channels) { %>
        <div id="channel-<%= $name->[0] %>" class="channel ">
            <div class="toolbar">
                <h1><%= $name->[3] %></h1>
                <a href="#irc-channels" class="button back leftButton">Channels</a>
            </div>
            <form action="/irc" method="post">
                <div>
                    <input type="hidden" name="name"    value="<%= $nick %>" />
                    <input type="hidden" name="channel" value="<%= $name->[1] %>" />
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                </div>
            </form>
            <div class="messages"></div>
            <div class="toolbar">
                <a href="#" class="button toggle-all-messages">Show all messages</a>
            </div>
        </div>
        <% } %>
    </body>
</html>
