? my $args = $_[0];
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
        <title>IRC Channels</title>
        <link rel="stylesheet" href="/static/screen.css" />
        <link rel="stylesheet" href="/static/application.css" />
    </head>
    <body>
        <h1>Channels</h1>
        <ul id="messages">
? foreach my $name (@{$args->{channels}}) {
          <li><a href="/channels/<?= $name ?>">#<?= $name ?></a></li>
? }
        </ul>
        <div id="footer">Powered by <a href="http://github.com/miyagawa/Tatsumaki">Tatsumaki/<?= $Tatsumaki::VERSION ?></a>.</div>
    </body>
</html>
