% my $channels = $_[0]->{channels};
% my $nick = $_[0]->{nick};
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script
        <script src="/static/jqtouch.min.js"></script>
        <script src="/static/jquery.oembed.js"></script>
        <script type="text/javascript" src="/static/irc.js"></script>

        <!--
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="/static/oreo.png"/>
        <link rel="apple-touch-startup-image" href="/static/oreo.png" />
        -->

        <title>IRC</title>
        <style type="text/css" media="screen">
          @import url(/static/jqtouch.min.css);
          @import url(/static/irc.css);
          @import url(/static/themes/vicutake/vicutake.css);
        </style>

    </head>
    <body>
        <div id="welcome" class="fade">
            <h1>Social :: IRC</h1>
            <ul>
                <% for my $name (map { my $o = $_; my $e = lc($_); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o]; } @$channels) { %>
                <li><a href="#channel-<%= $name->[0] %>"><%= $name->[1] %></a></li>
                <% } %>
            </ul>
        </div>

        <% for my $name (map { my $o = $_; my $e = lc($_); $e =~ s/([^0-9a-z])/ord($1)/eg; [$e, $o]; } @$channels) { %>
        <div id="channel-<%= $name->[0] %>" class="channel cube">
            <h1>
                <a href="#welcome">Channels</a> :: <%= $name->[1] %>
            </h1>
            <form action="/irc" method="post">
                <div>
                    <input type="hidden" name="ident" value="<%= $nick %>" />
                    <input type="hidden" name="channel" value="<%= $name->[1] %>" />
                    <input type="text"   name="text" />
                    <input type="image"  class="submit" src="/static/09-chat2.png" />
                    <input type="submit"  class="submit" />
                </div>
            </form>

            <div class="messages"></div>
        </div>
        <% } %>
    </body>
</html>
