<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/static/screen.css" />
        <style type="text/css" media="screen">
            body {
                font-family: Helvetica;
                font-size: 24px;
                text-align: right;
            }
            h1 {
                text-shadow: #999 5px 5px 10px;
                margin-right: 0.5em;
            }
        </style>
        <title>Social</title>
    </head>
    <body>
        <h1>Social</h1>
        <ul>
            <li><a href="/irc">IRC</a></li>
            <li><a href="javascript:alert('...');">Plurk</a></li>
            <li><a href="javascript:alert('...');">Twitter</a></li>
        </ul>
    </body>
</html>
